<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./css/ambulanceAmbulance.css">
    <link rel="stylesheet" type="text/css" href="./css/plus.css">
</head>

<body onload="initialize()">
    <div class="container-flex">
        <nav class="navbar navbar-expand-sm navbar-light">
        <a class="navbar-brand" href="/">Medico<span>Universe</span></a>
        <button class="navbar-toggler float-right p-1" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse nav-resp" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/medicoUniverse/about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/medicoUniverse/mission">Mission</a>
                </li>
            </ul>
            {{#if session.user}}
            <div class="dropdown">
                <a class="nav-link font-weight-bold login-signup w-100" id="dropdownMenu1-1" data-toggle="dropdown" href="">
                    Hello {{session.user.email}}
                </a>
                <div class="dropdown-menu dropdown-primary" id="your-custom-id">
                    <a class="dropdown-item mdb-dropdownLink-1  " href="/profile">Profile</a>
                    <a class="dropdown-item mdb-dropdownLink-1 " href="/logout">Logout</a>
                </div>
            </div>
            {{else}}
            <div>
                <a class="nav-link login-signup w-100" href="/user/signin">Hello Guest</a>
            </div>
            {{/if}}
        </div>
    </nav>
    <hr>
        {{!-- 
        <div class=" nav navbar-expand-sm  card-intro blue-gradient">

            <div class="card-body white-text rgba-black-light text-center">

                <!--Grid row-->
                <div class="row d-flex ">

                    <!--Grid column-->
                    <div class="col">

                        <a class="mb-2 text-white" href="/booking_doctors">
                            Doctors
                        </a>



                    </div>
                    <div class="col">
                        <div class="card"></div>
                        <a class="mb-2 text-white" href="/pharmacy">
                            Pharmacy
                        </a>



                    </div>
                    <div class="col">

                        <a class="mb-2 text-white" href="/hospitalsearch">
                            Hospitals
                        </a>



                    </div>
                    <div class="col">

                        <a class="mb-2 text-white" href="/ambulance_booking">
                            Ambulance
                        </a>



                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

            </div>

        </div>
        <!-- Intro --> --}}
        {{!-- <nav class="navbar navbar-expand-lg card-intro blue-gradient">
            <button class="navbar-toggler text-white" type="button" data-toggle="collapse"
                data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">Sections</a>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active m-5">
                        <a class="nav-link" href="#">Doctors <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item m-5">
                        <a class="nav-link" href="#">Hospital</a>
                    </li>
                    <li class="nav-item m-5">
                        <a class="nav-link" href="#">Pharmacy</a>
                    </li>
                    <li class="nav-item m-5">
                        <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">Ambulance</a>
                    </li>
                </ul>

            </div>
        </nav> --}}


        <div class="container-flex m-3">

            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 col-lg-4 mb-4">

                    <!--Card-->
                    <div class="card" id="locationCard" style="background-color: #2E2E2E;">

                        <!-- Material input -->

                        <div class="image-overlay">
                            <img src="https://res.cloudinary.com/dps7y8nd7/image/upload/v1579794519/Untitled_v3ooxv.jpg"
                                class="card-img-top" alt="photo">
                            <a href="#">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <!--Card content-->
                        <div class="card-body ">
                            <!--Title-->
                            <div class="md-form ml-2">
                                <i class="fas fa-search prefix"></i>
                                <input type="text" id="start" class="form-control">
                                <label for="inputIconEx2" class="text-white"></label>
                            </div>
                            <div class="md-form ml-2">
                                <i class="fas fa-map-marker prefix"></i>
                                <input type="text" id="end" class="form-control">
                                <label for="inputIconEx2" class="text-white"></label>
                            </div>
                            <div id="error-msg"></div>
                            <div class="md-form ml-2" id="btnDiv">
                                <a href="" class="btn btn-default btn-rounded" id="bookNow" data-toggle="modal"
                                    data-target="#modalLoginAvatar">Book Now
                                </a>
                                <button type="button" onclick="showdrivercard()" id="driverCard"
                                    class="btn btn-info " data-toggle="modal" data-target="#fullHeightModalRight">
                                    Ambulance Info
                                </button>
                            </div>
                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-6 col-lg-8">

                    <!--Card-->
                    <div class="card">

                        <div id="map_canvas" style="height:600px;width:100%"></div>

                    </div>
                    <!--/.Card-->

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->
            {{!-- -------- --}}

        </div>

        <footer>
        <div style="height: 20px;"></div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 ml-5">
                <h4>Contact Us</h4>
                <p>BHIVE Workspace, L-148, 5th Main Rd,
                    <br> Sector 6, HSR Layout,<br> Bengaluru, Karnataka 560102</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 ml-5">
                <h5>For patients</h5>
                <ul>
                    <li><a href="#">Search for Doctors</a></li>
                    <li><a href="#">Search for Hospitals</a></li>
                    <li><a href="#">Order Medicine</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-12 ml-5 mt-2 ">
                <style>
                    .fa {
                        text-align: center;
                    }

                    .fa:hover {
                        opacity: 0.7;
                        text-decoration: none;
                    }
                    .size{
                        font-size: 30px;
                        margin: 0 8px;
                        
                    }
                </style>
                <div class="mt-4">
                    <a href="#" class="fa fa-facebook size"></a>
                    <a href="#" class="fa fa-twitter size"></a>
                    <a href="#" class="fa fa-linkedin size"></a>
                    <a href="#" class="fa fa-instagram size"></a>
                    <a href="#" class="fa fa-youtube size"></a>
                </div>
                
            </div>
        </div>
        <div style="height: 20px;"></div>

    </footer>

        <!--Footer-->

        <!--Footer-->
    </div>

    <!--Modal: Login with Avatar Form-->
    <div class="modal fade" id="modalLoginAvatar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
            <!--Content-->
            <div class="modal-content">

                <!--Header-->
                <div class="modal-header">
                    <img src="https://res.cloudinary.com/dps7y8nd7/image/upload/v1579798959/Untitled1_kte8hz.jpg"
                        alt="avatar" class="rounded-circle img-responsive">
                </div>
                <!--Body-->
                <div class="modal-body text-center mb-1">

                    <h5 class="mt-1 mb-2">{{ambulance.driverName}}</h5>

                    <div class="md-form ml-0 mr-0">
                        <p>Contact No: {{ambulance.driverNumber}}</p>
                        <p> Ambulance No: {{ambulance.ambulanceNumber}}</p>
                        <p>Contact No: {{ambulance.gender}}</p>
                        <p>Contact No: {{ambulance.age}}</p>
                    </div>



                    <div class="text-center mt-4">
                        <button class="btn btn-cyan mt-1 confirmBooking" id="confirmBooking"
                            onclick="setRoutes()">Confirm Booking <i class="fas fa-sign-in ml-1"
                                data-dismiss="modal"></i></button>
                    </div>
                </div>

            </div>
            <!--/.Content-->
        </div>
    </div>

    <!--Modal: Login with Avatar Form-->
    <!-- Full Height Modal Right -->
    <div class="modal fade right" id="fullHeightModalRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">

        <!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
        <div class="modal-dialog modal-full-height modal-right" role="document">


            <div class="modal-content">

                <div class="modal-body">
                    <!-- Card Regular -->
                    <div class="card card-cascade">

                        <!-- Card image -->
                        <div class="view view-cascade overlay">
                            <img class="card-img-top"
                                src="https://res.cloudinary.com/dps7y8nd7/image/upload/v1579798959/Untitled1_kte8hz.jpg"
                                alt="Card image cap">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>

                        <!-- Card content -->
                        <div class="card-body card-body-cascade text-center">

                            <!-- Title -->
                            <h4 class="card-title"><strong>{{ambulance.driverName}}</strong></h4>
                            <!-- Subtitle -->
                            <h6 class="font-weight-bold indigo-text py-2"> {{ambulance.age}}</h6>
                            <p>Contact No: {{ambulance.driverNumber}}</p>
                            <p> Ambulance No: {{ambulance.ambulanceNumber}}</p>
                            <!-- Text -->
                            <p class="card-text">Hey, Iam {{ambulance.driverName}} certified by Medico Universe. I have
                                a valid ambulance driver permit and knows this city very well.
                                I can ensure you that I will take you wherever you want in the shortest time.
                            </p>
                            <p class="font-weight-bold indigo-text py-2"> Thank You!</p>
                            <!-- Facebook -->
                            <a type="button" class="btn-floating btn-small btn-fb"><i class="fab fa-facebook-f"></i></a>
                            <!-- Twitter -->
                            <a type="button" class="btn-floating btn-small btn-tw"><i class="fab fa-twitter"></i></a>
                            <!-- Google + -->
                            <a type="button" class="btn-floating btn-small btn-dribbble"><i
                                    class="fab fa-dribbble"></i></a>

                        </div>

                    </div>
                    <!-- Card Regular -->
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-unique" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
    <!-- Full Height Modal Right -->
    {{!-- ---- --}}
    <a href="#" class="float ca" id="menu-share">
        <i class="fa fa-share my-float"></i>
    </a>
    <ul class="cul">
        <li class="cli"><a class="ca" href="/hospitalsearch">
                <i class="fas fa-clinic-medical my-float "></i>
            </a></li>
        <li class="cli"><a class="ca" href="/bookingDoctors">
                <i class="fas fa-user-md my-float"></i>
                <i class="fas fa-user-nurse my-float"></i>
            </a></li>
        <li class="cli"><a class="ca" href="/pharmacy">
                <i class="fas fa-prescription-bottle-alt my-float "></i>
            </a></li>
        <li class="cli"><a class="ca" href="/ambulance_booking">
                <i class="fas fa-ambulance my-float "></i>
            </a></li>
    </ul>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/js/mdb.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9oBu9YDzVLHG808Q786IxvdVzQ2LtqT8&libraries=places&callback=initMap"></script>
    <script type="text/javascript" src="./js/scriptambulance.js"></script>
    <script type="text/javascript" src="./js/scriptpolyline.js"></script>

</body>

</html>