<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MedicoUniverse | Bookings | Front</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/booking.doctors.css">
    <link rel="stylesheet" href="./css/plus.css">

    
</head>

<body>

    <nav class="navbar navbar-expand-sm navbar-light">
        <a class="navbar-brand" href="/">Medico<span>Universe</span></a>
        <button class="navbar-toggler float-right p-1" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse nav-resp" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/medicoUniverse/about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/medicoUniverse/mission">Mission</a>
                </li>
            </ul>
            {{#if session.user}}
            <div class="dropdown">
                <a class="nav-link font-weight-bold login-signup w-100" id="dropdownMenu1-1" data-toggle="dropdown"
                    href="">
                    Hello {{session.user.email}}
                </a>
                <div class="dropdown-menu dropdown-primary" id="your-custom-id">
                    <a class="dropdown-item mdb-dropdownLink-1  " href="/profile">Profile</a>
                    <a class="dropdown-item mdb-dropdownLink-1 " href="/logout">Logout</a>
                </div>
            </div>
            {{else}}
            <div>
                <a class="nav-link login-signup w-100" href="/user/signin">Hello Guest</a>
            </div>
            {{/if}}
        </div>
    </nav>
    <hr>
    <div class="jumbotron">
        <h1 id="pName"><strong>Medico<span>Universe</span></strong></h1>
        <h3 id="info"><strong>Book Your Appointments here</strong></h3>
        <form action="/appointment" method="POST" class="form-inline">
            <input class="form-control" list="places" name="city" placeholder="Select City" value="{{city}}" required>
            <datalist id="places">
                <option value="Shimla">Shimla</option>
                <option value="Kota">Kota</option>
                <option value="Agra">Agra</option>
                <option value="Chennai">Chennai</option>
                <option value="Belgavi">Belgavi</option>
            </datalist>
            </button>
            <input id="service" class="form-control" list="requirements" name="service"
                placeholder="Select Doctors,Therapists,Nurses and Babysitters" onchange="changeValue()" value="{{type}}"
                required>
            <datalist id="requirements">
                <option value="Doctors">Doctors</option>
                <option value="Nurses">Nurses</option>
                <option value="Babysitters">Babysitters</option>
                <option value="Therapists">Therapists</option>
            </datalist>
            </button>
            <div id="specialization">
                <input class="form-control" list="specs" name="specialization" placeholder="Select Specialization"
                    value="{{speciality}}" required>
                <datalist id="specs">

                </datalist>
                </button>
            </div>
             
           <button class="btn btn-info" type="submit" id="findBtn"><strong>Search</strong></button>
        </form>

    </div>
    <section>
        <div id="feature1">
            <div id="imageDiv">
                <img src="../public/images/doctorsetc.jpg"
                    width="300px" height="250px"  style="border-radius: 15px;" alt="">
            </div>
            <div class="col-1"></div>
            <div id="detailList">
                <h3 >Book Doctors,Therapists,Nurses <br> and Babysitters</h3>
                <ul class="mt-5">
                    <h6><li><img src="public/images/correct.svg" width="18px" height="auto" alt="">  100% Verified Doctors
                    </li></h6>
                    <h6><li><img src="public/images/correct.svg" width="18px" height="auto" alt=""> Bookings available
                        anytime from everywhere.</li></h6>
                    <h6><li><img src="public/images/correct.svg" width="18px" height="auto" alt=""> Appointments with the
                        best doctors in your city</li></h6>
                   <h6> <li><img src="public/images/correct.svg" width="18px" height="auto" alt=""> All the services are
                        available at affordable costs. </li></h6>
                </ul>

                <a href="/booking_doctors" class="btn btn-info offset-2">Book Now</a>
            </div>
        </div>
    </section>
    <section>
        <div id="feature2">
            <div id="imageDiv">
                <img src="../public/images/medicine.jpg"
                    width="300px" height="250px"  style="border-radius: 15px;" alt="">
            </div>
            <div class="col-1"></div>
            <div id="detailList">
                <h2 >Order Medicine</h2>
                <ul class="mt-5">
                  <h6><li> <img src="public/images/correct.svg" width="18px" height="auto" alt=""> Order Medicines at
                        discounted prices.</li></h6> 
                    <h6><li> <img src="public/images/correct.svg" width="18px" height="auto" alt=""> Get your medicines
                        delivered at your doorstep.</li></h6>
                    <h6><li> <img src="public/images/correct.svg" width="18px" height="auto" alt=""> All the order
                        Dispatched with in 12 hours. </li></h6>
                </ul>
                {{!-- <button class="btn btn-info offset-2"> Order Now</button> --}}
                <a href="/pharmacy" class="btn btn-info offset-2">Order Now</a>
            </div>
        </div>
    </section>
    <section>
        <div id="feature1">
            <div id="imageDiv">
                <img src="../public/images/ambulance.jpg"
                    width="300px" height="250px" style="border-radius: 15px;" alt="">
            </div>
            <div class="col-1"></div>
            <div id="detailList">
                <h2 >Book Ambulance</h2>
                <ul class="mt-5">
                    <h6><li><img src="public/images/correct.svg" width="18px" height="auto" alt=""> Book an ambulance and
                        track it on its way.</li></h6>
                    <h6><li><img src="public/images/correct.svg" width="18px" height="auto" alt=""> Real time location
                        tracking.</li></h6>
                    <h6><li><img src="public/images/correct.svg" width="18px" height="auto" alt=""> Always on time service.
                    </li></h6>
                </ul>

                <a href="/ambulance_booking" class="btn btn-info offset-2">Book Ambulance</a>
            </div>
        </div>
    </section>
    <section>
        <div id="feature1">
            <div id="imageDiv">
                <img src="../public/images/hospital.png"
                    width="300px" height="250px" style="border-radius: 15px;" alt="">
            </div>
            <div class="col-1"></div>
            <div id="detailList">
                <h2 >Appointments at hospitals</h2>
                <ul class="mt-5">
                    <h6><li><img src="public/images/correct.svg" width="18px" height="auto" alt=""> Search Some of the best hospitals in your city </li></h6>
                    <h6><li><img src="public/images/correct.svg" width="18px" height="auto" alt=""> Book an appointment with best 
                        doctors at the hospitals. </li></h6>
                    <h6><li><img src="public/images/correct.svg" width="18px" height="auto" alt=""> Get a message on your phone once the 
                        booking is done. 
                    </li></h6>
                </ul>

                <a href="/ambulance_booking" class="btn btn-info offset-2">Book Now</a>
            </div>
        </div>
    </section>
    <footer>
        <div style="height: 20px;"></div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 ml-5">
                <h4>Contact Us</h4>
                <p>BHIVE Workspace, L-148, 5th Main Rd,
                    <br> Sector 6, HSR Layout,<br> Bengaluru, Karnataka 560102</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 ml-5">
                <h5>For patients</h5>
                <ul>
                    <h6><li><a href="#">Search for Doctors</a></li></h6>
                   <h6><li><a href="#">Search for Hospitals</a></li></h6> 
                    <h6><li><a href="#">Order Medicine</a></li></h6>
                </ul>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-12 ml-5 mt-2 ">
                <style>
                    .fa {
                        text-align: center;
                    }

                    .fa:hover {
                        opacity: 0.7;
                        text-decoration: none;
                    }

                    .size {
                        font-size: 30px;
                        margin: 0 8px;

                    }
                </style>
                <div class="mt-4">
                    <a href="#" class="fa fa-facebook size"></a>
                    <a href="#" class="fa fa-twitter size"></a>
                    <a href="#" class="fa fa-linkedin size"></a>
                    <a href="#" class="fa fa-instagram size"></a>
                    <a href="#" class="fa fa-youtube size"></a>
                </div>

            </div>
        </div>
        <div style="height: 20px;"></div>

    </footer>
    <a href="#" class="float ca" id="menu-share">
        <i class="fa fa-share my-float"></i>
    </a>
    <ul class="cul">
        <li class="cli"><a class="ca" href="/hospitalsearch">
                <i class="fas fa-clinic-medical my-float "></i>
            </a></li>
        <li class="cli"><a class="ca" href="/booking_doctors">
                <i class="fas fa-user-md my-float"></i>
                <i class="fas fa-user-nurse my-float"></i>
            </a></li>
        <li class="cli"><a class="ca" href="/pharmacy">
                <i class="fas fa-prescription-bottle-alt my-float "></i>
            </a></li>
        <li class="cli"><a class="ca" href="/ambulance_booking">
                <i class="fas fa-ambulance my-float "></i>
            </a></li>
    </ul>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="../public/js/bookingDoctors.script.js"></script>
</body>

</html>