<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="./css/products.css">
    <link rel="stylesheet" type="text/css" href="./css/plus.css">
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light">
        <a class="navbar-brand" href="/">Medico<span>Universe</span></a>
        <button class="navbar-toggler float-right p-1" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse nav-resp" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/medicoUniverse/about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/medicoUniverse/mission">Mission</a>
                </li>
            </ul>
            {{#if session.user}}
            <div class="dropdown">
                <a class="nav-link font-weight-bold login-signup w-100" id="dropdownMenu1-1" data-toggle="dropdown"
                    href="">
                    Hello {{session.user.email}}
                </a>
                <div class="dropdown-menu dropdown-primary" id="your-custom-id">
                    <a class="dropdown-item mdb-dropdownLink-1  " href="/profile">Profile</a>
                    <a class="dropdown-item mdb-dropdownLink-1 " href="/logout">Logout</a>
                </div>
            </div>
            {{else}}
            <div>
                <a class="nav-link login-signup w-100" href="/user/signin">Hello Guest</a>
            </div>
            {{/if}}

            <span>
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link waves-effect" href="/shoppingCart">
                            <span class="badge z-depth-1 mr-1 red text-success"> {{session.cart.totalQty}} </span>
                            <i class="fas fa-shopping-cart"></i>
                            <span class="clearfix d-none d-sm-inline-block"> Cart </span>
                        </a>
                    </li>
                </ul>
            </span>
        </div>
    </nav>
    <hr>



    <!--Carousel Wrapper-->
    <div id="carousel-example-1z" class="carousel slide carousel-fade pt-4 " data-ride="carousel">

        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-1z" data-slide-to="1"></li>
            <li data-target="#carousel-example-1z" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->

        <!--Slides-->
        <div class="carousel-inner mt-4" role="listbox">

            <!--First slide-->
            <div class="carousel-item active">
                <div class="view"
                    style="background-image: url('https://res.cloudinary.com/dps7y8nd7/image/upload/v1579863382/benefits_of_becoming_a_medical_assistant_hwceic.jpg'); background-repeat: no-repeat; background-size: cover;">

                    <!-- Mask & flexbox options-->
                    <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">

                        <!-- Content -->
                        <div class="text-center white-text mx-5 wow fadeIn " style="margin-top: 10%;">


                            <a target="_blank" href="/" class="btn btn-outline-white btn-lg">Start using now
                                <i class="fas fa-graduation-cap ml-2"></i>
                            </a>
                        </div>
                        <!-- Content -->

                    </div>
                    <!-- Mask & flexbox options-->

                </div>
            </div>
            <!--/First slide-->

            <!--Second slide-->
            <div class="carousel-item">
                <div class="view"
                    style="background-image: url('https://res.cloudinary.com/dps7y8nd7/image/upload/v1579863385/What_does_medical_assistant_do_e21wg6.png'); background-repeat: no-repeat; background-size: cover;">

                    <!-- Mask & flexbox options-->
                    <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">

                        <!-- Content -->
                        <div class="text-center white-text mx-5 wow fadeIn" style="margin-top: 10%;">


                            <a target="_blank" href="/" class="btn btn-outline-white btn-lg">Start using now
                                <i class="fas fa-graduation-cap ml-2"></i>
                            </a>
                        </div>
                        <!-- Content -->

                    </div>
                    <!-- Mask & flexbox options-->

                </div>
            </div>
            <!--/Second slide-->

            <!--Third slide-->
            <div class="carousel-item">
                <div class="view"
                    style="background-image: url('https://res.cloudinary.com/dps7y8nd7/image/upload/v1579863386/medical_assistant_skills_tpjtbl.jpg'); background-repeat: no-repeat; background-size: cover;">

                    <!-- Mask & flexbox options-->
                    <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">

                        <!-- Content -->
                        <div class="text-center white-text mx-5 wow fadeIn" style="margin-top: 10%;">


                            <a target="_blank" href="/" class="btn btn-outline-white btn-lg">Start using now
                                <i class="fas fa-graduation-cap ml-2"></i>
                            </a>
                        </div>
                        <!-- Content -->

                    </div>
                    <!-- Mask & flexbox options-->

                </div>
            </div>
            <!--/Third slide-->

        </div>
        <!--/.Slides-->

        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->

    </div>
    <!--/.Carousel Wrapper-->

    <!--Main layout-->
    <main>
        <div class="container">
            {{!-- ////// --}}


            {{!-- -------- --}}
            <div class="m-navbar-list mt-5">
                <div class="u-content-wrapper">
                    <div class="row">
                        <div class="col-2 ">
                            <div class="dropdown">
                                <button class="dropbtn" style="background-color: honeydew;">Baby Care <span><i
                                            class="fas fa-angle-down"></i></span></button>
                                <div class="dropdown-content" style="background-color: honeydew;">
                                    <a href="" class="babybath">Baby Bath</a>
                                    <a href="" class="babyDipers">Diapers and wipes</a>

                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="dropdown">
                                <button class="dropbtn" style="background-color: honeydew;">Personal Care <span><i
                                            class="fas fa-angle-down"></i></span></button>
                                <div class="dropdown-content" style="background-color: honeydew;">
                                    <a href="#" class="hairCare">Hair care</a>
                                    <a href="#" class="lipcare">Lip care</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="dropdown">
                                <button class="dropbtn" style="background-color: honeydew;">Skin Care <span><i
                                            class="fas fa-angle-down"></i></span></button>
                                <div class="dropdown-content" style="background-color: honeydew;">
                                    <a href="#" class="bodybath">Body and Bath</a>
                                    <a href="#" class="fashwash">Face wash and cleansers</a>
                                    <a href="#" class="skinsuppliments">Skin care Suppliments</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="dropdown">
                                <button class="dropbtn" style="background-color: honeydew;">Ayurvedic <span><i
                                            class="fas fa-angle-down"></i></span></button>
                                <div class="dropdown-content" style="background-color: honeydew;">
                                    <a href="#" class="dabur">Dabur</a>
                                    <a href="#" class="patangali">Patangali</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="dropdown">
                                <button class="dropbtn" style="background-color: honeydew;">Fitness <span><i
                                            class="fas fa-angle-down"></i></span></button>
                                <div class="dropdown-content" style="background-color: honeydew;">
                                    <a href="#" class="massgainer">Protien and Suppliments</a>
                                    <a href="#">Mass Gainers</a>

                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="dropdown">
                                <button class="dropbtn" style="background-color: honeydew;">Devices <span><i
                                            class="fas fa-angle-down"></i></span></button>
                                <div class="dropdown-content" style="background-color: honeydew;">
                                    <a href="#" class="devices">Health Care</a>
                                    <a href="#" class="exercise">Exercise</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--/.Navbar-->

            <!--Section: Products v.3-->
            <section class="text-center mb-4 mt-5">

                <!--Grid row-->
                <div class="row wow fadeIn">
                    <!--Grid column-->
                    {{#each products }}
                    <div class="col-lg-3 col-md-6 mb-4">

                        <!--Card-->
                        <div class="card">

                            <!--Card image-->
                            <div class="view overlay">
                                <img src="{{this.imgPath}}" class="card-img-top" alt="">
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <!--Card image-->

                            <!--Card content-->
                            <div class="card-body text-center">
                                <!--Category & Title-->
                                <a href="#" class="grey-text">
                                    <h5>{{this.subCategory}}</h5>
                                </a>
                                <h5>
                                    <strong>
                                        <a href="" class="dark-grey-text">{{this.productName}}
                                            <span class="badge badge-pill danger-color">NEW</span>
                                        </a>
                                    </strong>
                                </h5>

                                <h4 class="font-weight-bold blue-text">
                                    <strong>₹{{this.productPrice}}</strong>
                                </h4>
                                <div class="row">
                                    <h4 class="font-weight-bold blue-text">
                                        <a href="/addToCart/{{this._id}}" class="btn btn-primary btn-sm"
                                            style="margin-left: 25%;">Add</a>
                                    </h4>
                                </div>


                            </div>
                            <!--Card content-->

                        </div>
                        <!--Card-->
                    </div>
                    {{/each}}

            </section>
            <!--Section: Products v.3-->

            <!--Pagination-->
            {{!-- <nav class="d-flex justify-content-center wow fadeIn">
                <ul class="pagination pg-blue">

                    <!--Arrow left-->
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>

                    <li class="page-item active">
                        <a class="babybath" href="#">1
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="babyDipers" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="hairCare" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="lipcare" href="#">4</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">5</a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav> --}}
            <!--Pagination-->

        </div>
    </main>

    <footer id="toper" class="mt-4">
        <div style="height: 20px;"></div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 ml-5">
                <h4>Contact Us</h4>
                <p>BHIVE Workspace, L-148, 5th Main Rd,
                    <br> Sector 6, HSR Layout,<br> Bengaluru, Karnataka 560102</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 ml-5">
                <h5>For patients</h5>
                <ul>
                    <li><a href="#">Search for Doctors</a></li>
                    <li><a href="#">Search for Hospitals</a></li>
                    <li><a href="#">Order Medicine</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-3 col-sm-12 ml-5 mt-2 ">
                <style>
                    .fa {
                        text-align: center;
                    }

                    .fa:hover {
                        opacity: 0.7;
                        text-decoration: none;
                    }

                    .size {
                        font-size: 30px;
                        margin: 0 8px;

                    }
                </style>
                <div class="mt-4">
                    <a href="#" class="fa fa-facebook size"></a>
                    <a href="#" class="fa fa-twitter size"></a>
                    <a href="#" class="fa fa-linkedin size"></a>
                    <a href="#" class="fa fa-instagram size"></a>
                    <a href="#" class="fa fa-youtube size"></a>
                </div>

            </div>
        </div>
        <div style="height: 20px;"></div>

    </footer>
    <a href="#" class="float ca" id="menu-share">
        <i class="fa fa-share my-float"></i>
    </a>
    <ul class="cul">
        <li class="cli"><a class="ca" href="/hospitalsearch">
                <i class="fas fa-clinic-medical my-float "></i>
            </a></li>
        <li class="cli"><a class="ca" href="/booking_doctors">
                <i class="fas fa-user-md my-float"></i>
                <i class="fas fa-user-nurse my-float"></i>
            </a></li>
        <li class="cli"><a class="ca" href="/pharmacy">
                <i class="fas fa-prescription-bottle-alt my-float "></i>
            </a></li>
        <li class="cli"><a class="ca" href="/ambulance_booking">
                <i class="fas fa-ambulance my-float "></i>
            </a></li>
        <li class="cli"><a class="ca" href="/shoppingCart">
                <i class="fas fa-cart-plus my-float "></i>
            </a></li>
    </ul>

    <!--/.Footer-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/js/mdb.min.js"></script>
    <script src="./js/products.js"></script>
</body>

</html>